:root {
    --picker-color: #b5caf9;
    --input-color-two: #aad186;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 25px;
    font-family: 'Karla', sans-serif;
    
    
}

.gradient {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    background: linear-gradient(var(--picker-color),var(--input-color-two));
    padding: 2.5em;
    border-radius: 5px;
}

input {
    cursor: pointer;
    margin: 10px;
}

input[type=color] {
    border-radius: 5px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;    
    height: 30px;
    width: 100px;
}

button {
    border-radius: 8px;
    border: none;
    padding: 8px;
    background-color: rgb(29, 118, 235);
    color: white;
    font-style: bold;
    font-family: 'Karla', sans-serif;
    height: 30px;
    width: 100px;
    margin: 10px;
    margin-left: 60px;;
    }
